# Student flow through Markov Chains

In [395]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Simulating Student Data

In [396]:
# Creates a Dataframe that allocates possible credits in a semester.
df = pd.DataFrame(np.random.choice([0,0,0,0,0,0,0,0,0,0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],300_000).reshape(10_000,30))

This does not account for the summer semesters having a lower credit requirement and does not actually reflect student behavior.
- Fall, Spring Max = 18
- Summer Max = 12

In [397]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17,13,0,0,11,10,8,0,0,0,...,0,13,13,9,0,0,17,0,0,9
1,16,0,9,0,8,0,17,0,11,0,...,16,17,17,0,0,0,0,9,10,6
2,11,8,0,0,11,0,0,0,12,5,...,18,5,12,0,5,11,5,5,17,5
3,0,0,15,0,0,7,0,0,14,18,...,15,8,18,12,9,11,0,9,3,3
4,0,11,0,16,14,7,7,4,12,4,...,0,0,0,0,18,0,11,4,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,3,9,10,4,0,14,0,7,0,...,3,17,0,11,11,0,0,15,9,0
9996,7,5,13,0,0,0,16,0,3,0,...,16,14,16,7,11,10,0,5,12,0
9997,12,0,0,0,10,13,0,0,8,0,...,0,7,4,8,13,14,14,5,9,13
9998,0,12,0,10,9,0,17,9,0,0,...,16,10,12,0,12,0,0,10,0,0
9999,11,5,5,4,0,0,0,6,14,3,...,7,0,0,17,11,0,0,13,0,0

In [398]:
# Sums up the count of students credits over time
a = 0
for a in range(len(df)):
    z = 0
    nlist = []
    for x in df.loc[a]:
        z += x
        x = z
        nlist.append(x)
    df.loc[a] = nlist

In [399]:
# The average time a student takes to get to 120 credits(graduation)
df[18].mean()

122.7939

With current np choice results the average gradution is 6 years

In [400]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17,30,30,30,41,51,59,59,59,59,...,135,148,161,170,170,170,187,187,187,196
1,16,16,25,25,33,33,50,50,61,61,...,200,217,234,234,234,234,234,243,253,259
2,11,19,19,19,30,30,30,30,42,47,...,117,122,134,134,139,150,155,160,177,182
3,0,0,15,15,15,22,22,22,36,54,...,110,118,136,148,157,168,168,177,180,183
4,0,11,11,27,41,48,55,59,71,75,...,157,157,157,157,175,175,186,190,190,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,3,12,22,26,26,40,40,47,47,...,115,132,132,143,154,154,154,169,178,178
9996,7,12,25,25,25,25,41,41,44,44,...,104,118,134,141,152,162,162,167,179,179
9997,12,12,12,12,22,35,35,35,43,43,...,93,100,104,112,125,139,153,158,167,180
9998,0,12,12,22,31,31,48,57,57,57,...,166,176,188,188,200,200,200,210,210,210
9999,11,16,21,25,25,25,25,31,45,48,...,112,112,112,129,140,140,140,153,153,153

In [401]:
# Allocate student states
a = 0
ndf = df
for a in range(len(df)):
    z = 0
    nlist = []
    for x in df.loc[a]:
        if x >= 120:
            y = 'Graduated'
        elif x >= 105:
            y = 'Senior_n'
        elif x >= 90:
            y = 'Senior_1'
        elif x >= 75:
            y = 'Junior_n'
        elif x >= 60:
            y = 'Junior_1'
        elif x >= 45:
            y = 'Sophomore_n'
        elif x >= 30:
            y = 'Sophomore_1'
        elif x >= 15:
            y = 'Freshman_n'
        else:
            y = 'Freshman_1'
        nlist.append(y)
        
    ndf.loc[a] = nlist

In [402]:
ndf

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_n,Sophomore_n,Sophomore_n,Sophomore_n,Sophomore_n,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
1,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_n,Sophomore_n,Junior_1,Junior_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
2,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_n,...,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
3,Freshman_1,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_n,...,Senior_n,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
4,Freshman_1,Freshman_1,Freshman_1,Freshman_n,Sophomore_1,Sophomore_n,Sophomore_n,Sophomore_n,Junior_1,Junior_n,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Freshman_1,Freshman_1,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_n,Sophomore_n,...,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9996,Freshman_1,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,...,Senior_1,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9997,Freshman_1,Freshman_1,Freshman_1,Freshman_1,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,...,Senior_1,Senior_1,Senior_1,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9998,Freshman_1,Freshman_1,Freshman_1,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_n,Sophomore_n,Sophomore_n,Sophomore_n,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9999,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_n,Sophomore_n,...,Senior_n,Senior_n,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated

## Probability of changing states

In [403]:
# ndf

In [404]:
# Create a dictionary of states each state could change into

Graduated = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Senior_n = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Senior_1 = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Junior_n = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Junior_1 = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Sophomore_n = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Sophomore_1 = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Freshman_n = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Freshman_1 = {'Graduated' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

In [405]:
# Run through the dataframe and add 1 to every current states next state

for x in range(10_000):
    for y in range(29):
        if ndf[y][x] == 'Graduated':
            Graduated[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Senior_n':
            Senior_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Senior_1':
            Senior_1[ndf[y + 1][x]] += 1 

        elif ndf[y][x] == 'Junior_n':
            Junior_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Junior_1':
            Junior_1[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Sophomore_n':
            Sophomore_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Sophomore_1':
            Sophomore_1[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Freshman_n':
            Freshman_n[ndf[y + 1][x]] += 1

        else:
            Freshman_1[ndf[y + 1][x]] += 1

In [406]:
# Change that value into a probability
Graduated_Prob = []
for x in Graduated.values():
    Graduated_Prob.append(round(x / sum(Graduated.values()),4))

Senior_n_Prob = []
for x in Senior_n.values():
    Senior_n_Prob.append(round(x / sum(Senior_n.values()),4))

Senior_1_Prob = []
for x in Senior_1.values():
    Senior_1_Prob.append(round(x / sum(Senior_1.values()),4))

Junior_n_Prob = []
for x in Junior_n.values():
    Junior_n_Prob.append(round(x / sum(Junior_n.values()),4))

Junior_1_Prob = []
for x in Junior_1.values():
    Junior_1_Prob.append(round(x / sum(Junior_1.values()),4))

Sophomore_n_Prob = []
for x in Sophomore_n.values():
    Sophomore_n_Prob.append(round(x / sum(Sophomore_n.values()),4))

Sophomore_1_Prob = []
for x in Sophomore_1.values():
    Sophomore_1_Prob.append(round(x / sum(Sophomore_1.values()),4))

Freshman_n_Prob = []
for x in Freshman_n.values():
    Freshman_n_Prob.append(round(x / sum(Freshman_n.values()),4))

Freshman_1_Prob = []
for x in Freshman_1.values():
    Freshman_1_Prob.append(round(x / sum(Freshman_1.values()),4))

In [407]:
# Transition Matrix
tm = [Graduated_Prob,
Senior_n_Prob,
Senior_1_Prob,
Junior_n_Prob,
Junior_1_Prob,
Sophomore_n_Prob,
Sophomore_1_Prob,
Freshman_n_Prob,
Freshman_1_Prob]

In [408]:
tm

[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.4138, 0.5862, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0145, 0.3999, 0.5855, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0152, 0.4004, 0.5844, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0159, 0.4026, 0.5815, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0158, 0.3989, 0.5853, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0153, 0.3931, 0.5916, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0159, 0.3913, 0.5929, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0175, 0.3773, 0.6052]]

In [409]:
columns = ['Graduated_Prob',
'Senior_n_Prob',
'Senior_1_Prob',
'Junior_n_Prob',
'Junior_1_Prob',
'Sophomore_n_Prob',
'Sophomore_1_Prob',
'Freshman_n_Prob',
'Freshman_1_Prob']

index = ['Graduated',
'Senior_n',
'Senior_1',
'Junior_n',
'Junior_1',
'Sophomore_n',
'Sophomore_1',
'Freshman_n',
'Freshman_1']

Transition_Matrix = pd.DataFrame(tm,columns=columns,index=index)

In [410]:
Transition_Matrix

,Graduated_Prob,Senior_n_Prob,Senior_1_Prob,Junior_n_Prob,Junior_1_Prob,Sophomore_n_Prob,Sophomore_1_Prob,Freshman_n_Prob,Freshman_1_Prob
Graduated,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Senior_n,0.4138,0.5862,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Senior_1,0.0145,0.3999,0.5855,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Junior_n,0.0000,0.0152,0.4004,0.5844,0.0000,0.0000,0.0000,0.0000,0.0000
Junior_1,0.0000,0.0000,0.0159,0.4026,0.5815,0.0000,0.0000,0.0000,0.0000
Sophomore_n,0.0000,0.0000,0.0000,0.0158,0.3989,0.5853,0.0000,0.0000,0.0000
Sophomore_1,0.0000,0.0000,0.0000,0.0000,0.0153,0.3931,0.5916,0.0000,0.0000
Freshman_n,0.0000,0.0000,0.0000,0.0000,0.0000,0.0159,0.3913,0.5929,0.0000
Freshman_1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0175,0.3773,0.6052