# Student flow through Markov Chains

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Simulating Student Data

In [2]:
# Creates a Dataframe that allocates possible credits in a semester.
df = pd.DataFrame(np.random.choice([0,0,0,0,0,0,0,0,0,0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],300_000).reshape(10_000,30))

This does not account for the summer semesters having a lower credit requirement and does not actually reflect student behavior.
- Fall, Spring Max = 18
- Summer Max = 12

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,13,10,0,3,18,11,13,9,6,8,...,0,0,0,7,8,0,12,12,7,17
1,0,18,0,0,13,0,0,0,7,3,...,18,0,18,14,18,16,0,14,0,6
2,18,10,0,5,5,3,17,14,0,0,...,0,17,0,0,14,0,0,0,6,0
3,4,3,0,15,0,3,0,0,14,0,...,0,8,0,17,0,6,3,0,12,0
4,16,5,17,0,0,0,10,16,0,0,...,4,15,13,10,0,5,14,13,8,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,17,0,0,0,0,13,12,8,0,0,...,0,4,6,12,17,0,0,15,11,13
9996,4,13,13,0,0,9,9,12,3,0,...,0,5,15,0,0,0,0,17,4,0
9997,0,17,11,3,0,15,0,0,18,0,...,0,6,17,14,5,0,18,3,11,15
9998,4,0,7,16,4,17,7,0,7,0,...,4,13,0,7,9,8,11,11,11,14
9999,0,4,15,15,9,17,7,15,13,16,...,0,3,17,7,0,13,6,11,5,0

In [4]:
# Sums up the count of students credits over time
a = 0
for a in range(len(df)):
    z = 0
    nlist = []
    for x in df.loc[a]:
        z += x
        x = z
        nlist.append(x)
    df.loc[a] = nlist

In [5]:
# The average time a student takes to get to 120 credits(graduation)
df[18].mean()

122.6791

With current np choice results the average gradution is 6 years

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,13,23,23,26,44,55,68,77,83,91,...,164,164,164,171,179,179,191,203,210,227
1,0,18,18,18,31,31,31,31,38,41,...,129,129,147,161,179,195,195,209,209,215
2,18,28,28,33,38,41,58,72,72,72,...,107,124,124,124,138,138,138,138,144,144
3,4,7,7,22,22,25,25,25,39,39,...,98,106,106,123,123,129,132,132,144,144
4,16,21,38,38,38,38,48,64,64,64,...,124,139,152,162,162,167,181,194,202,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,17,17,17,17,17,30,42,50,50,50,...,106,110,116,128,145,145,145,160,171,184
9996,4,17,30,30,30,39,48,60,63,63,...,134,139,154,154,154,154,154,171,175,175
9997,0,17,28,31,31,46,46,46,64,64,...,153,159,176,190,195,195,213,216,227,242
9998,4,4,11,27,31,48,55,55,62,62,...,144,157,157,164,173,181,192,203,214,228
9999,0,4,19,34,43,60,67,82,95,111,...,196,199,216,223,223,236,242,253,258,258

In [7]:
# Allocate student states
a = 0
ndf = df
for a in range(len(df)):
    z = 0
    nlist = []
    for x in df.loc[a]:
        if x >= 120:
            y = 'Graduated'
        elif x >= 105:
            y = 'Senior_n'
        elif x >= 90:
            y = 'Senior_1'
        elif x >= 75:
            y = 'Junior_n'
        elif x >= 60:
            y = 'Junior_1'
        elif x >= 45:
            y = 'Sophomore_n'
        elif x >= 30:
            y = 'Sophomore_1'
        elif x >= 15:
            y = 'Freshman_n'
        elif x >=1:
            y = 'Freshman_1'
        else:
            y = 'Sabbatical'
        nlist.append(y)
        
    ndf.loc[a] = nlist

In [8]:
ndf

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_n,Junior_1,Junior_n,Junior_n,Senior_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
1,Sabbatical,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
2,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_n,Junior_1,Junior_1,Junior_1,...,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
3,Freshman_1,Freshman_1,Freshman_1,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,...,Senior_1,Senior_n,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
4,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_n,Junior_1,Junior_1,Junior_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_n,Sophomore_n,Sophomore_n,...,Senior_n,Senior_n,Senior_n,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9996,Freshman_1,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_1,Sophomore_n,Junior_1,Junior_1,Junior_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9997,Sabbatical,Freshman_n,Freshman_n,Sophomore_1,Sophomore_1,Sophomore_n,Sophomore_n,Sophomore_n,Junior_1,Junior_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9998,Freshman_1,Freshman_1,Freshman_1,Freshman_n,Sophomore_1,Sophomore_n,Sophomore_n,Sophomore_n,Junior_1,Junior_1,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated
9999,Sabbatical,Freshman_1,Freshman_n,Sophomore_1,Sophomore_1,Junior_1,Junior_1,Junior_n,Senior_1,Senior_n,...,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated,Graduated

## Probability of changing states

In [9]:
# ndf

In [10]:
# Create a dictionary of states each state could change into

Graduated = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Sabbatical = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Dropped = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Senior_n = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Senior_1 = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Junior_n = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Junior_1 = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Sophomore_n = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Sophomore_1 = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Freshman_n = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

Freshman_1 = {'Graduated' : 0,'Dropped' : 0,'Sabbatical' : 0,'Senior_n' : 0,'Senior_1' : 0,
     'Junior_n' : 0,'Junior_1' : 0,'Sophomore_n' : 0,
        'Sophomore_1' : 0,'Freshman_n': 0,'Freshman_1' : 0}

In [11]:
# Run through the dataframe and add 1 to every current states next state

for x in range(10_000):
    for y in range(1,29):
        
        if ndf[y][x] == 'Graduated':
            Graduated[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Sabbatical':
            if ndf[y + 1][x] == 'Sabbatical':
                Dropped[ndf[y - 1][x]] += 1
            else:
                Sabbatical[ndf[y + 1][x]] += 1
            
        elif ndf[y][x] == 'Dropped':
            Dropped[ndf[y + 1][x]] += 1
            
        elif ndf[y][x] == 'Senior_n':
            Senior_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Senior_1':
            Senior_1[ndf[y + 1][x]] += 1 

        elif ndf[y][x] == 'Junior_n':
            Junior_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Junior_1':
            Junior_1[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Sophomore_n':
            Sophomore_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Sophomore_1':
            Sophomore_1[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Freshman_n':
            Freshman_n[ndf[y + 1][x]] += 1

        elif ndf[y][x] == 'Freshman_1':
            Freshman_1[ndf[y + 1][x]] += 1

In [12]:
# Change that value into a probability
Graduated_Prob = []
for x in Graduated.values():
    Graduated_Prob.append(round(x / sum(Graduated.values()),4))
    
Sabbatical_Prob = []
for x in Sabbatical.values():
    Sabbatical_Prob.append(round(x / sum(Sabbatical.values()),4))
    
Dropped_Prob = []
for x in Dropped.values():
    Dropped_Prob.append(round(x / sum(Dropped.values()),4))

Senior_n_Prob = []
for x in Senior_n.values():
    Senior_n_Prob.append(round(x / sum(Senior_n.values()),4))

Senior_1_Prob = []
for x in Senior_1.values():
    Senior_1_Prob.append(round(x / sum(Senior_1.values()),4))

Junior_n_Prob = []
for x in Junior_n.values():
    Junior_n_Prob.append(round(x / sum(Junior_n.values()),4))

Junior_1_Prob = []
for x in Junior_1.values():
    Junior_1_Prob.append(round(x / sum(Junior_1.values()),4))

Sophomore_n_Prob = []
for x in Sophomore_n.values():
    Sophomore_n_Prob.append(round(x / sum(Sophomore_n.values()),4))

Sophomore_1_Prob = []
for x in Sophomore_1.values():
    Sophomore_1_Prob.append(round(x / sum(Sophomore_1.values()),4))

Freshman_n_Prob = []
for x in Freshman_n.values():
    Freshman_n_Prob.append(round(x / sum(Freshman_n.values()),4))

Freshman_1_Prob = []
for x in Freshman_1.values():
    Freshman_1_Prob.append(round(x / sum(Freshman_1.values()),4))

In [13]:
Sabbatical

{'Graduated': 0,
 'Dropped': 0,
 'Sabbatical': 0,
 'Senior_n': 0,
 'Senior_1': 0,
 'Junior_n': 0,
 'Junior_1': 0,
 'Sophomore_n': 0,
 'Sophomore_1': 0,
 'Freshman_n': 342,
 'Freshman_1': 1117}

In [15]:
# Transition Matrix
tm = [Graduated_Prob,
Dropped_Prob,
Sabbatical_Prob,
Senior_n_Prob,
Senior_1_Prob,
Junior_n_Prob,
Junior_1_Prob,
Sophomore_n_Prob,
Sophomore_1_Prob,
Freshman_n_Prob,
Freshman_1_Prob]

In [16]:
tm

[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2344, 0.7656],
 [0.4179, 0.0, 0.0, 0.5821, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0142, 0.0, 0.0, 0.4004, 0.5854, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0169, 0.4024, 0.5807, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0148, 0.4016, 0.5835, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0145, 0.4009, 0.5846, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0155, 0.3987, 0.5858, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0164, 0.4049, 0.5787, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0265, 0.4695, 0.504]]

In [19]:
columns = ['Graduated_Prob',
'Dropped_Prob',
'Sabbatical_Prob',
'Senior_n_Prob',
'Senior_1_Prob',
'Junior_n_Prob',
'Junior_1_Prob',
'Sophomore_n_Prob',
'Sophomore_1_Prob',
'Freshman_n_Prob',
'Freshman_1_Prob']

index = ['Graduated',
'Dropped',
'Sabbatical',
'Senior_n',
'Senior_1',
'Junior_n',
'Junior_1',
'Sophomore_n',
'Sophomore_1',
'Freshman_n',
'Freshman_1']

Transition_Matrix = pd.DataFrame(tm,columns=columns,index=index)

In [20]:
Transition_Matrix

,Graduated_Prob,Dropped_Prob,Sabbatical_Prob,Senior_n_Prob,Senior_1_Prob,Junior_n_Prob,Junior_1_Prob,Sophomore_n_Prob,Sophomore_1_Prob,Freshman_n_Prob,Freshman_1_Prob
Graduated,1.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Dropped,0.0000,0.0,1.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Sabbatical,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.2344,0.7656
Senior_n,0.4179,0.0,0.0,0.5821,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Senior_1,0.0142,0.0,0.0,0.4004,0.5854,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Junior_n,0.0000,0.0,0.0,0.0169,0.4024,0.5807,0.0000,0.0000,0.0000,0.0000,0.0000
Junior_1,0.0000,0.0,0.0,0.0000,0.0148,0.4016,0.5835,0.0000,0.0000,0.0000,0.0000
Sophomore_n,0.0000,0.0,0.0,0.0000,0.0000,0.0145,0.4009,0.5846,0.0000,0.0000,0.0000
Sophomore_1,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0155,0.3987,0.5858,0.0000,0.0000
Freshman_n,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0164,0.4049,0.5787,0.0000
Freshman_1,0.0000,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0265,0.4695,0.5040

Students were only marked as sabbatical or dropped in the first semester. I would need to change the order of how things are generated to fix this. Zeros in later columns are replaced with the sum of everything that came before it. Need to figure out a new order of operations to accomplish this.